<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Seller: <%= @user.seller if @user.seller %></p>
<p>Email: <%= image_tag @user.profile.url %></p>

